<div class="final-info-container">
                    <div class="container">
                    <div class="row">

                        <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="text-white">Learner/Trainee/Student (Clients) Classification</h5>
                                        <select class="form-control" name="client_classification" id="client_classification">
                                            <option value="">Select Something</option>
                                            <option value="Person with Disability">Person with Disability</option>
                                            <option value="Displaced Worker">Displaced Worker</option>
                                            <option value="Overseas Filipino Worker">Overseas Filipino Worker</option>
                                            <option value="Overseas Filipino Worker Dependent">Overseas Filipino Worker Dependent</option>
                                            <option value="Overseas Filipino Worker Repatriate">Overseas Filipino Worker Repatriate</option>
                                            <option value="Victims/Survivors of Human Trafficking">Victims/Survivors of Human Trafficking</option>
                                            <option value="Indegenus People and Cultural Communities">Indegenus People and Cultural Communities</option>
                                            <option value="Rebel Returnees">Rebel Returnees</option>
                                            <option value="Solo Parent">Solo Parent</option>
                                            <option value="Parent Dependent">Parent Dependent
                                            <option value="Student">Student</option>
                                            <option value="Working Student">Working Student</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <br>
                                    </div>

                                    <div class="col-sm-6">
                                        <h5 class="text-white">Taken NCAE/YP4SC Before?</h5>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="container">
                                                    <input type="radio" class="" name="has_taken" value="no" checked>
                                                    <span class="text-warning">&nbsp;No </span><br>
                                                    <input type="radio" class="" name="has_taken" value="yes">
                                                    <span class="text-warning">&nbsp;Yes </span><br>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" name="where_ncae" id="where_ncae" class="form-control" placeholder="Where?">
                                                <br>
                                                <input type="date" name="when_ncae" id="when_ncae" class="form-control">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6 offset-sm-3 offset-sm-3 text-center">
                            <h3 class="text-info">Name of Course/Qualification</h3>
                                <select class="form-control" name="attainment" id="attainment">
                                    <option value="">Select Something</option>
                                    <option value="Computer Systems Servicing NCII">Computer Systems Servicing NCII</option>
                                    <option value="Local Guiding Service NCII">Local Guiding Service NCII</option>
                                    <option value="Events Management Services NCIII">Events Management Services NCIII</option>
                                    <option value="Electronic Product Assembly and Servicing NCII">Electronic Product Assembly and Servicing NCII</option>
                                    <option value="Tourism Promotion Services NCII">Tourism Promotion Services NCII</option>
                                    <option value="Bookkeeping NCII">Bookkeeping NCII</option>
                                </select><br>
                                <input type="submit" class="btn btn-success" value="Submit Application">

                        </div>

                    </div>
                        <br>
                    <div class="text-center">
                        <div class="btn-group">
                            <a class="button-prev" href="#carouselExampleIndicators" role="button">
                                <button class="btn btn-warning">Previous</button>
                            </a>
                            <a class="button-next" href="#carouselExampleIndicators" role="button">
                                 <button class="btn btn-info">Next</button>
                            </a>
                        </div>
                    </div>
                        <br>
                </div>
</div>
