<div class="reg-form-container">
                    <div class="container">
                        <div class="text-center">
                            <h3 class="text-warning"><i class="fa fa-user-circle"></i>&nbsp;Learners Profile Form</h3>
                        </div>
                        <h5 class="text-white">Manpower Profile</h5>
                    <div class="row">

                        <div class="col-sm-12">
                            <h5 class="text-secondary">Name</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Middle Name">
                                        <br>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <h5 class="text-secondary">Address</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="house_num_street" name="house_num_street" placeholder="House Number/Street">
                                        <br>
                                        <input type="text" class="form-control" id="city_municipality" name="city_municipality" placeholder="City/Municipality">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Barangay">
                                        <br>
                                        <input type="text" class="form-control" id="province" name="province" placeholder="Province">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="district" name="district" placeholder="District">
                                        <br>
                                        <input type="text" class="form-control" id="region" name="region" placeholder="Region">
                                        <br>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-12">
                            <h5 class="text-secondary">Other Information</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="email_fb" name="email_fb" placeholder="Email/Facebook Account">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="contact_no" name="contact_no" placeholder="Contact No.">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Nationality">
                                        <br>
                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="text-center">
                        <div class="btn-group">
                            <a class="button-prev" href="#carouselExampleIndicators" role="button">
                                <button class="btn btn-warning">Previous</button>
                            </a>
                            <a class="button-next" href="#carouselExampleIndicators" role="button">
                                 <button class="btn btn-info">Next</button>
                            </a>
                        </div>
                    </div>
                        <br>
                </div>
</div>
