<div class="personal-information-container">
                    <div class="container">
                        <h5 class="text-white">Personal Information</h5>
                    <div class="row">

                        <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <h5 class="text-secondary">Sex</h5>
                                        <div class="row container">
                                            <div class="col-sm-4">
                                                <input type="radio" class="" name="sex" value="male" checked>
                                                <span class="text-info">&nbsp;<i class="fa fa-male fa-4x"></i> </span><br><br>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="radio" class="" name="sex" value="female">
                                                <span class="text-pink">&nbsp;<i class="fa fa-female fa-4x"></i> </span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <h5 class="text-secondary">Civil Status</h5>
                                        <div class="row container">
                                            <div class="col-sm-6">
                                                <input type="radio" class="" name="civil_status" value="single" checked>
                                                <span class="text-warning">&nbsp;Single </span><br>
                                                <input type="radio" class="" name="civil_status" value="married">
                                                <span class="text-warning">&nbsp;Married </span><br>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="radio" class="" name="civil_status" value="widower">
                                                <span class="text-warning">&nbsp;Widower </span><br>
                                                <input type="radio" class="" name="civil_status" value="separated">
                                                <span class="text-warning">&nbsp;Separated </span><br>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <h5 class="text-secondary">Employment Status</h5>
                                        <div class="row container">
                                            <div class="col-sm-6">
                                                <input type="radio" class="" name="employment_status" value="unemployed" checked>
                                                <span class="text-warning">&nbsp;Unemployed </span><br>
                                                <input type="radio" class="" name="employment_status" value="employed">
                                                <span class="text-warning">&nbsp;Employed </span><br>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5 class="text-secondary">Birthdate</h5>
                                        <input type="date" class="form-control" id="birthdate" name="birthdate">
                                        <span class="fa fa-exclamation errspan text-danger fa-2x" id="birthdate_exclamation"></span>
                                        <br>
                                    </div>
                                    <div class="col-sm-8">
                                        <h5 class="text-secondary">Educational Attainment Before the Training</h5>
                                        <select class="form-control" name="attainment" id="attainment">
                                            <option value="">Select Something</option>
                                            <option value="No Grade Completed">No Grade Completed</option>
                                            <option value="Pre-School (Nursery/Kinder/Preparatory - Level)">Pre-School (Nursery/Kinder/Preparatory - Level)</option>
                                            <option value="Elementary Undergraduate">Elementary Undergraduate</option>
                                            <option value="High School Undergraduate">High School Undergraduate</option>
                                            <option value="High School Graduate">High School Graduate</option>
                                            <option value="Post Secondary">Post Secondary</option>
                                            <option value="College Undergraduate">College Undergraduate</option>
                                            <option value="College Graduate or Higher">College Graduate or Higher</option>
                                        </select>
                                        <span class="fa fa-exclamation errspan text-danger fa-2x" id="attainment_exclamation"></span>
                                        <br>
                                    </div>
                                </div>
                        </div>

                        <div class="col-sm-12">
                            <h5 class="text-secondary">Birthplace</h5>
                                <div class="row">

                                    <div class="col-sm-4">
                                        <select class="form-control" id="province_bdate" name="province_bdate"></select>
                                        <span class="fa fa-exclamation errspan text-danger fa-2x" id="province_bdate_exclamation"></span>
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <select class="form-control" id="city_bdate" name="city_bdate"></select>
                                        <span class="fa fa-exclamation errspan text-danger fa-2x" id="city_bdate_exclamation"></span>
                                        <br>
                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 offset-sm-4 offset-sm-4">
                                <div class="alert alert-danger text-center" id="alert_personal_info" role="alert">
                                    Complete the Form Fields
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="btn-group">
                            <a class="button-prev" href="#carouselExampleIndicators" id="prev_1_btn" role="button">
                                <button class="btn btn-warning">Previous</button>
                            </a>
                            <a class="button-next" href="#carouselExampleIndicators" id="next_1_btn" role="button">
                                 <button class="btn btn-info">Next</button>
                            </a>
                        </div>
                    </div>
                        <br>
                </div>
</div>

            <a class="carousel-control-prev" href="#learners_profile_form" id="prev_1" role="button">
                <i class="fa fa-arrow-circle-left fa-3x"></i>

            </a>
            <a class="carousel-control-next" href="#learners_profile_form" id="next_1" role="button">
                <i class="fa fa-arrow-circle-right fa-3x"></i>

            </a>