<div class="personal-information-container">
                    <div class="container">
                        <h5 class="text-white">Personal Information</h5>
                    <div class="row">

                        <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <h5 class="text-secondary">Sex</h5>
                                        <div class="row container">
                                            <div class="col-sm-4">
                                                <input type="radio" class="" name="sex" value="male" checked>
                                                <span class="text-info">&nbsp;<i class="fa fa-male fa-4x"></i> </span><br><br>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="radio" class="" name="sex" value="female">
                                                <span class="text-pink">&nbsp;<i class="fa fa-female fa-4x"></i> </span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <h5 class="text-secondary">Civil Status</h5>
                                        <div class="row container">
                                            <div class="col-sm-6">
                                                <input type="radio" class="" name="civil_status" value="single" checked>
                                                <span class="text-warning">&nbsp;Single </span><br>
                                                <input type="radio" class="" name="civil_status" value="married">
                                                <span class="text-warning">&nbsp;Married </span><br>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="radio" class="" name="civil_status" value="widower">
                                                <span class="text-warning">&nbsp;Widower </span><br>
                                                <input type="radio" class="" name="civil_status" value="separated">
                                                <span class="text-warning">&nbsp;Separated </span><br>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <h5 class="text-secondary">Employment Status</h5>
                                        <div class="row container">
                                            <div class="col-sm-6">
                                                <input type="radio" class="" name="employment_status" value="unemployed" checked>
                                                <span class="text-warning">&nbsp;Unemployed </span><br>
                                                <input type="radio" class="" name="employment_status" value="employed">
                                                <span class="text-warning">&nbsp;Employed </span><br>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5 class="text-secondary">Birthdate</h5>
                                        <input type="date" class="form-control" id="birthdate" name="birthdate">
                                        <br>
                                    </div>
                                    <div class="col-sm-8">
                                        <h5 class="text-secondary">Educational Attainment Before the Training</h5>
                                        <select class="form-control" name="attainment" id="attainment">
                                            <option value="No Grade Completed">No Grade Completed</option>
                                            <option value="Pre-School (Nursery/Kinder/Preparatory - Level)">Pre-School (Nursery/Kinder/Preparatory - Level)</option>
                                            <option value="Elementary Undergraduate">Elementary Undergraduate</option>
                                            <option value="High School Undergraduate">High School Undergraduate</option>
                                            <option value="High School Graduate">High School Graduate</option>
                                            <option value="Post Secondary">Post Secondary</option>
                                            <option value="College Undergraduate">College Undergraduate</option>
                                            <option value="College Graduate or Higher">College Graduate or Higher</option>
                                        </select>
                                        <br>
                                    </div>
                                </div>
                        </div>

                        <div class="col-sm-12">
                            <h5 class="text-secondary">Birthplace</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="city_bdate" name="city_bdate" placeholder="City/Municipality">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="province_bdate" name="province_bdate" placeholder="Province">
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="region_bdate" name="region_bdate" placeholder="Region">
                                        <br>
                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="text-center">
                        <div class="btn-group">
                            <a class="button-prev" href="#carouselExampleIndicators" role="button">
                                <button class="btn btn-warning">Previous</button>
                            </a>
                            <a class="button-next" href="#carouselExampleIndicators" role="button">
                                 <button class="btn btn-info">Next</button>
                            </a>
                        </div>
                    </div>
                        <br>
                </div>
</div>
