.wrapper-landing-page {
    background-image: url("../website_photos/electronics2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    transition: 2s 2s;
}

/*.nav-container {*/
    /*display: grid;*/
    /*padding: 20px;*/
/*}*/

.title-wrapper {
    /*background: rgba(255, 255, 255, 0.13);*/
    display: grid;
    padding: 20px;
    align-items: start;
    height: auto;
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: orange;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #e0a223;
}
/*Cookie Consent End*/

.imgx {
    height: 200px;
    width: 200px;
}

.center-bl {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e0a223;
    /*background: rgba(5, 181, 255, 0.42);*/
    /*background-color: #035a78;*/
}


.img-holder {
    padding-top: 40px;
    padding-bottom: 40px;
    background: whitesmoke;
    height: 520px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 15px 23px 31px rgba(40, 40, 40, 0.71);
}

#bootstrap-overrides h1 {
    font-weight: bold;
    font-size: 5px;
}

.tesda-block {
    height: auto;
    background: rgba(173, 173, 173, 0.42);
    padding-bottom: 50px;
}

.img-tesda {
    padding-top: 50px;
    height: 400px;
    width: 300px;
}

.card-container {
    display: grid;
    align-items: center;
}

.card{
    margin-top: 30px;
    background: rgba(183, 183, 183, 0);
    box-shadow: 15px 23px 31px rgba(40, 40, 40, 0.18);
}

.bg-main {
    background: rgb(40, 40, 40);
}



.btn-info-big {
    display: inline-block;
    /*padding: 12px 16px;*/
    /*padding-top: 20px;*/
    padding: 20px;
    margin-bottom: 0;
    /*color: #21a8a7;*/
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    /*background-color: transparent;*/
    background-color: #21a8a7;
    border-radius: 70px;
    border-style: solid;
    border-width: 2px;
    font-weight: lighter !important;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.12s linear 0s !important;
    font: 20px/30px "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-color: #21a8a7;
    outline: none;
}

.btn-info-big:hover {
    border-color: #1d8e8d;
    background-color: #1d8e8d;
    /*color: whitesmoke;*/
}

.btn-container {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 500px) {
        .wrapper-landing-page {
            height: auto;
        }

        .btn-info-big {
        padding: 15px;
        font: 20px/30px "Helvetica Neue",Helvetica,Arial,sans-serif;

        }
}