.text-red {
    color: #cf0000;
}

.text-orange{
    color: #ff692d;
}


.text-yellow{
    color: yellow;
}

.text-blue{
    color: #113bb1;
}


.text-scarlet{
    color: red;
}

.text-blue{
    color: #3d8696;
}
