

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.reg-form-container {
  padding: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.personal-information-container {
  padding: 140px;
  padding-left: 150px;
  padding-right: 150px;
}

.final-info-container {
  padding: 200px;
  padding-left: 150px;
  padding-right: 150px;
}

.carousel, .carousel-inner > .item {
  display: run-in;
  width: 100%;
  height: auto!important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-container {
    margin-left:0;
}

.button-prev, .button-next {
 display: none;
}

.carousel-control-prev, .carousel-control-next {
  width: 160px;
}

.errspan {
        float: right;
        margin-right: 15px;
        margin-top: -33px;
        position: relative;
        z-index: 2;
    }

/* input validating*/

#alert_manpower, #alert_personal_info, #alert_final_form {
  display: none;
}

/* manpower */
#last_name_exclamation,
#first_name_exclamation,
#house_street_exclamation,
#province_exclamation,
#barangay_exclamation,
#district_exclamation,
#email_fb_exclamation,
#contact_exclamation,
#nationality_exclamation,
#city_municipality_exclamation,
#birthdate_exclamation,
#attainment_exclamation,
#province_bdate_exclamation,
#city_bdate_exclamation,
#client_classification_exclamation,
#where_exclamation,
#when_exclamation,
#course_exclamation {
  display: none;
}
/* manpower */

/* input validating*/


/* success_banner */
#success-banner {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  /*margin-top: -700px;*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  align-items: center;
}


.thumbs_up {
  width: 200px;
  height: 200px;
}
/* success_banner */


@media (max-width: 700px) {
  .reg-form-container {
    padding: 20px;
  }

  .personal-information-container {
    padding: 20px;
    /*padding-left: 150px;*/
    /*padding-right: 150px;*/
  }

  .final-info-container {
  padding: 20px;
}

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }

  .button-prev, .button-next {
   display: block;
  }



  .carousel-item {
    height: auto;
  }

  .thumbs_up {
    width: 120px;
    height: 120px;
  }
}

