{% extends 'cctti_webapp/frame_A.html' %}
{% load staticfiles %}

{% block title %}
    CCTTI | Courses
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cctti_webapp/css/courses.css' %}">
{% endblock %}

{% block content %}

    <div class="wrapper">
    {% include 'cctti_webapp/components/main_nav.html' %}

        <div class="container">
            <div class="row">



                <div class="col-sm-6">
                    <div class="course_img-container">
{#                        <img class="img" src="{% static 'cctti_webapp/website_photos/bg_courses.png' %}">#}
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="title-wrapper">
                        <h1 class="text-white text-title"><i>“It is not in the stars to hold our destiny but in ourselves” <br>- William Shakespeare</i></h1>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <div class="bottom-block">

        <div class="container">
            <div class="row">

                <div class="col-sm-4">

                    <div class="course-block local-guiding-service">

                        <div class="course-img-container">
                            <img class="img course-png" src="{% static 'cctti_webapp/website_photos/guid.png' %}">
                        </div>
                        <br>
                        <h4 class="text-info">Local Guiding Service NCII</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt doloremque, explicabo facere hic minus pariatur perspiciatis tempora temporibus voluptatum.</p>
                        <p class="text-white mobile_tap">Tap to see more details</p>
                      <div class="overlay-local-guiding-service">
                        <div class="card_img card-img-local-guiding-service"></div>
                        <div class="container overlay-container">
                            <h4 class="text-white">Local Guiding Service NCII</h4>
                            <p class="text-justify">repellat, sed! Dicta dignissimos dolor facere illum impedit ipsam iusto perferendis quidem repudiandae voluptatibus!</p>
                        </div>
                      </div>
                    </div>

                    <div class="course-block bookkeeping">
                        <div class="course-img-container">
                            <img class="img course-png" src="{% static 'cctti_webapp/website_photos/books.png' %}">
                        </div>
                        <br>
                        <h4 class="text-info">Bookkeeping NCII</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt doloremque, explicabo facere hic minus pariatur perspiciatis tempora temporibus voluptatum.</p>
                        <p class="text-white mobile_tap">Tap to see more details</p>
                        <div class="overlay-bookkeeping">
                            <div class="card_img card-img-bookkeeping"></div>
                            <div class="container overlay-container">
                            <h4 class="text-white">Bookkeeping NCII</h4>
                            <p class="text-justify">repellat, sed! Dicta dignissimos dolor facere illum impedit ipsam iusto perferendis quidem repudiandae voluptatibus!</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="course-block computer-systems">
                        <div class="course-img-container">
                            <img class="img course-png" src="{% static 'cctti_webapp/website_photos/compserv.png' %}">
                        </div>
                        <br>
                        <h4 class="text-info">Computer Systems Servicing NCII</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt doloremque, explicabo facere hic minus pariatur perspiciatis tempora temporibus voluptatum.</p>
                        <p class="text-white mobile_tap">Tap to see more details</p>
                        <div class="overlay-computer-systems">
                            <div class="card_img card-img-computer-systems"></div>
                            <div class="container overlay-container">
                            <h4 class="text-white">Computer Systems Servicing NCII</h4>
                            <p class="text-justify">repellat, sed! Dicta dignissimos dolor facere illum impedit ipsam iusto perferendis quidem repudiandae voluptatibus!</p>
                            </div>
                        </div>

                    </div>

                    <div class="course-block electronics">
                        <div class="course-img-container">
                            <img class="img course-png" src="{% static 'cctti_webapp/website_photos/electronics.png' %}">
                        </div>
                        <br>
                        <h4 class="text-info">Electronic Product Assembly and Servicing NCII</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt doloremque, explicabo facere hic minus pariatur perspiciatis tempora temporibus voluptatum.</p>
                        <p class="text-white mobile_tap">Tap to see more details</p>
                        <div class="overlay-electronics">
                            <div class="card_img card-img-electronics"></div>
                            <div class="container overlay-container">
                            <h4 class="text-white">Electronic Product Assembly and Servicing NCII</h4>
                            <p class="text-justify">repellat, sed! Dicta dignissimos dolor facere illum impedit ipsam iusto perferendis quidem repudiandae voluptatibus!</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="course-block events-management">
                        <div class="course-img-container">
                            <img class="img course-png" src="{% static 'cctti_webapp/website_photos/eventmanage.png' %}">
                        </div>
                        <br>
                        <h4 class="text-info">Events Management Services NCIII</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt doloremque, explicabo facere hic minus pariatur perspiciatis tempora temporibus voluptatum.</p>
                        <p class="text-white mobile_tap">Tap to see more details</p>
                        <div class="overlay-events-management">
                            <div class="card_img card-img-events-management"></div>
                            <div class="container overlay-container">
                            <h4 class="text-white">Events Management Services NCIII</h4>
                            <p class="text-justify">repellat, sed! Dicta dignissimos dolor facere illum impedit ipsam iusto perferendis quidem repudiandae voluptatibus!</p>
                            </div>
                        </div>

                    </div>

                    <div class="course-block tourism-promotion">
                        <div class="course-img-container">
                            <img class="img course-png" src="{% static 'cctti_webapp/website_photos/guide.png' %}">
                        </div>
                        <br>
                        <h4 class="text-info">Tourism Promotion Services NCII</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt doloremque, explicabo facere hic minus pariatur perspiciatis tempora temporibus voluptatum.</p>
                        <p class="text-white mobile_tap">Tap to see more details</p>
                        <div class="overlay-tourism-promotion">
                            <div class="card_img card-tourism-promotion"></div>
                            <div class="container overlay-container">
                            <h4 class="text-white">Tourism Promotion Services NCII</h4>
                            <p class="text-justify">repellat, sed! Dicta dignissimos dolor facere illum impedit ipsam iusto perferendis quidem repudiandae voluptatibus!</p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
                    <div class="btn-container">
                        <a href=""><button class="btn-info-big">Send us an application
                            <i class="fa fa-send text-dark"></i></button></a>
                    </div>
    </div>

    {% include 'cctti_webapp/components/footer.html' %}

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'cctti_webapp/js/courses.js' %}"></script>
{% endblock %}