<footer class="footer">
<div class="container">
    <div class="row footer-content">
        <div class="col-lg-8">
            <h6 class="text-white"><i class="fa fa-phone"></i>&nbsp;contact us</h6>
            <h6 class="text-secondary"><i class="fa fa-mobile-phone"></i>&nbsp;09171644086</h6>
            <h6 class="text-secondary"><i class="fa fa-envelope"></i>&nbsp;citycollegeoftechologytradel@gmail.com</h6>
            <h6 class="text-secondary">
                <i class="fa fa-address-card"></i>&nbsp;3rd Floor, Planters Bldg, Tinio Street, San Vicente, Gapan City, Nueva Ecija</h6><br>
        </div>
        <div class="col-lg-4">
            <a href="">
                <h6 class="text-danger btn-link"><i class="fa fa-copyright"></i>&nbsp;City College of Technology and Trade Inc.</h6></a>
            <a href="">
                <h6 class="text-secondary btn-link"><i class="fa fa-facebook-official text-blue">
                </i>&nbsp;facebook.com/ccct GAPAN</h6></a>
            <a href="#">
                <h6 class="text-secondary btn-link"><i class="fa fa-info text-secondary">
                </i>&nbsp;Privacy Policy</h6></a>
            <h6 class="text-info"><i class="fa fa-copyright"></i>
                copyrights reserved {% now 'Y' %}</h6>

            <br>
        </div>
    </div>
</div>
</footer>