{% extends 'cctti_webapp/frame_A.html' %}
{% load staticfiles %}

{% block title %}
    CCTTI | Registration
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cctti_webapp/css/registration.css' %}">
{% endblock %}

{% block content %}

        <div class="carousel-container">
        <header>
            <form id="applicant_registration_form">
                {% csrf_token %}
          <div id="learners_profile_form" class="carousel slide bg-blue" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#learners_profile_form" class="active"></li>
              <li data-target="#learners_profile_form"></li>
              <li data-target="#learners_profile_form"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
              <div class="carousel-item active">
                  {#Manpower Profile#}
                    {% include 'cctti_webapp/components/registration/manpower.html' %}
                  {#Manpower Profile#}

              </div>
              <!-- Slide Two - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="">
                  {#Personal Information#}
                    {% include 'cctti_webapp/components/registration/personal_information.html' %}
                  {#Personal Information#}
              </div>
              <!-- Slide Three - Set the background image for this slide in the line below -->
              <div class="carousel-item">
                  {#Final Information#}
                    {% include 'cctti_webapp/components/registration/final_form.html' %}
                  {#Final Information#}

              </div>
            </div>


          </div>
            </form>
        </header>
        </div>

        <div id="success-banner" class="success-banner">
            <div class="container">
                <div class="row" id="success-card">
                    <div class="col-sm-8 offset-sm-2 offset-sm-2 text-center">
                        <img class="img img-responsive thumbs_up" src="{% static 'cctti_webapp/website_photos/thumbs-up-icon.png' %}">
                        <br><br>
                        <h3 class="text-info">Reference Code: <span class="text-orange" id="v_code">9093403</span></h3>
                        <p class="text-white">Visit us at 3rd Floor, Planters Bldg, Tinio Street, San Vicente, Gapan City, Nueva Ecija <br>
                        to complete your registration process. Present the reference
                            code to us so we can process your application faster. If the email address you provide do exists, We had
                            e-mailed you the code.<br><br>

                        <span class="text-info">Bring the following requirements:</span><br>
                        <span class="text-white">
                            Transcript of Records or Diploma<br>
                            Good Moral Certificate<br>
                            2pcs. Passport Size Latest Photo of You<br>
                            2pcs. 1*1 Latest Photo of You (white background, with collared clothes)<br>
                            Copy of NSO or PSA
                        </span>
                        </p>
                        <a href="{% url 'landing_page' %}" class="text-info">
                            <i class="fa fa-home fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'cctti_webapp/js/registration.js' %}"></script>
    <script src="{% static 'cctti_webapp/js/city.js' %}"></script>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'cctti_webapp/css/registration.css' %}">
