{% extends 'cctti_webapp/frame_A.html' %}
{% load staticfiles %}

{% block title %}
    CCTTI | Registration
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cctti_webapp/css/registration.css' %}">
{% endblock %}

{% block content %}

        <div class="carousel-container">
        <header>
            <form>
          <div id="carouselExampleIndicators" class="carousel slide bg-blue" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" class="active"></li>
              <li data-target="#carouselExampleIndicators"></li>
              <li data-target="#carouselExampleIndicators"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
              <div class="carousel-item active">
                  {#Manpower Profile#}
                    {% include 'cctti_webapp/components/registration/manpower.html' %}
                  {#Manpower Profile#}
              </div>
              <!-- Slide Two - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="">
                  {#Personal Information#}
                    {% include 'cctti_webapp/components/registration/personal_information.html' %}
                  {#Personal Information#}
              </div>
              <!-- Slide Three - Set the background image for this slide in the line below -->
              <div class="carousel-item">
                  {#Final Information#}
                    {% include 'cctti_webapp/components/registration/final_form.html' %}
                  {#Final Information#}
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button">
                <i class="fa fa-arrow-circle-left fa-3x"></i>
    {#          <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#          <span class="sr-only">Previous</span>#}
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button">
                <i class="fa fa-arrow-circle-right fa-3x"></i>
    {#                      <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#          <span class="sr-only">Next</span>#}
            </a>


          </div>
            </form>
        </header>
        </div>


{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'cctti_webapp/js/registration.js' %}"></script>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'cctti_webapp/css/registration.css' %}">
