{% extends 'cctti_webapp/frame_B.html' %}
{% load staticfiles %}

{% block title %}
    CCTTI | Home
{% endblock %}

{% block content %}
    {% include 'cctti_webapp/components/staff_nav.html' %}
    <nav class="nav mobile-top-links justify-content-center">
        <a class="nav-link text-blue" href="#"><i class="fa fa-dashboard fa-2x"></i></a>
        <a class="nav-link text-info" href="#"><i class="fa fa-check fa-2x"></i></a>
        <a class="nav-link text-info" href="#"><i class="fa fa-users fa-2x"></i></a>
        <a class="nav-link text-info" href="#"><i class="fa fa-newspaper-o fa-2x"></i></a>
    </nav>
    <br>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3">

                    <nav class="nav flex-column nav-pills default-links">
                      <a class="nav-link active bg-info side-link" href="#"><i class="fa fa-dashboard"></i>&nbsp;Overview</a>
                      <a class="nav-link text-dark side-link" href="#"><i class="fa fa-check"></i>&nbsp;Verified Students</a>
                      <a class="nav-link text-dark side-link" href="#"><i class="fa fa-users"></i>&nbsp;Applicants</a>
                      <a class="nav-link text-dark side-link" href="#"><i class="fa fa-newspaper-o"></i>&nbsp;Feeds</a>
                    </nav>



            </div>

            <div class="col-sm-9">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 justify-content-center">
                            <div class="card notice-card container text-center bg-blue-dark">
                                <i class="fa fa-envelope fa-3x text-warning"></i>
                                <h6 class="display-4 text-white">234</h6>
                                <p class="text-info">Messages</p>
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4  justify-content-center">
                            <div class="card notice-card container text-center bg-blue-dark">
                                <i class="fa fa-users fa-3x text-danger"></i>
                                <h6 class="display-4 text-white">2083</h6>
                                <p class="text-info">Applicants</p>
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-4  justify-content-center">
                            <div class="card notice-card container text-center bg-blue-dark">
                                <i class="fa fa-check fa-3x text-success"></i>
                                <h6 class="display-4 text-white">2344</h6>
                                <p class="text-info">Verified Students</p>
                            </div>
                            <br>
                        </div>
                    </div>
                <div class="graph-container">
                    <canvas id="myChart" width="400" height="180"></canvas>
                </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script src="{% static 'cctti_webapp/js/Chart.js' %}"></script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 33, 44, 24, 3, 9, 7, 23, 54, 45, 45],
            backgroundColor: [
                'rgba(255, 0, 0, 0.32)',
            ],
            borderColor: [
                'rgba(255, 0, 0,1)',
            ],
            borderWidth: 1
        },
        {
            label: '# of Applicants',
            data: [12, 29, 13, 64, 4, 13, 19, 7, 23, 64, 55, 25],
            backgroundColor: [
                'rgba(0, 0, 255, 0.32)',
            ],
            borderColor: [
                'rgba(255, 0, 0,1)',
            ],
            borderWidth: 1
        }]
    },
    options: {animateScale : true,

				hover: {
					mode: 'nearest',
					intersect: true
				},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
    }
});

</script>
{% endblock %}